<%- params = Templaty::Params.new(options) -%>
<%%= 'breadcrumbs' %>

<%%= form_with(model: <%= params.form_model %><%= params.raw.model.multipart ? "html: { enctype: 'multipart/form-data' }" : nil %>) do |f| %>
  <%%= render('form', f: f) %>
<%% end %>

<%- if params.action?('destroy') -%>
<div class="clearfix form-field">
  <%%= button_to(
    I18n.t('<%= params.raw.model.name %>.destroy.confirm'),
    <%= params.form_model %>,
    class: 'form-destroy__button',
    data: { confirm: I18n.t('<%= params.raw.model.name %>.destroy.confirm', name: @<%= params.raw.model.name %>.name), disable_with: I18n.t(:wait) },
    form_class: 'form-destroy',
    method: :delete
  ) %>
</div>
<%- end -%>
